
body{
    background-color: rgb(0, 36, 68);
    background-size:cover;
    background-position: center;
    font-family:'Trebuchet MS', 'Lucida Grande', sans-serif;
    


  .container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

 header{
  height: 25%;
  width: 100%;
  display: inline;
  background-color: rgb(255, 255, 255);
 }
main{
  color: rgb(237, 181, 75);
  text-align: center;


}
p{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  width:50%
}

footer{
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  color:black;
  font-style: bold;
  font-family:'Gill Sans', sans-serif;


}


.photo{

  text-align: right;
  height: 50%;
  width: 50%;
  margin-right: 100px;
}
.textBody
{

  text-align: right;
  margin-left: 50px;
  font-size: medium;
  text-align: start;

}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 50%;
  height: auto;
  image-rendering: left;
}

.overlay-text {
  padding-top:15%;
  position:absolute;
  top: 10%; 
  left: 50%; 
  margin-right:25%;
  color: #fff; 
  width:50%;
  font-size:3.6vw;
  text-align: center;

}
.overlay-text2 {
  position: absolute;
  left: 61%; 
  top:10%;
  color: #fff; 
  font-size:5vw;
  text-align: center;
  color: rgb(237, 181, 75);

}
.aboutImage{
  padding-left:4%;
  padding-top:3%;
  align-items: left;

}
.aboutImage2{
  padding-left:4%;
  transform: translate(0, -10vw);
  align-items: left;

}

.about-overlay{
  padding-top:5%;
  position:absolute;
  text-align:center;
  margin-left:25%;
  margin-right:25%;
  font-size:4vw;
  transform: translate(15vw, -40vw);
  color: rgb(255, 255, 255);

}
section{
  padding-top: 3%;
}
.about-overlay2{

  font-size: 2vw;
  width: 75%;
  text-align: left;
  margin-left:15%;
  margin-right:20%;
  transform: translate(15vw, -25vw);
  color: rgb(255, 255, 255);
  width:70%;
}
.about-overlay3{

  font-size: 2vw;
  width: 75%;
  text-align: left;
  margin-left:15%;
  margin-right:20%;
  transform: translate(15vw, -35vw);
  color: rgb(255, 255, 255);
  width:70%;
}
.about-overlay4{
  padding-top:5%;
  position:absolute;
  text-align:center;
  margin-left:25%;
  margin-right:25%;
  font-size:4vw;
  transform: translate(15vw, -50vw);
  color: rgb(255, 255, 255);

}
h1{

  text-align: center;
  margin-left: 25%;
  margin-right:25%;
  font-size: 350%;
  color: rgb(237, 181, 75);
}
.button
{
    display: inline-block;
    color: white;
    font-size: 30px;
    text-decoration: none;
    background-color: rgb(243, 171, 54);
    padding: 1px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    
}
.aboutText
{
  color: white;
  font-size: 2vw;
  width: 80%;
  margin-left:10%;
  text-align:center;



}
.aboutText2{
  color: rgb(237, 181, 75);
  font-size: 5vw;
  text-align:center;

}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: rgb(218, 218, 218);;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: rgb(255, 145, 55);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #b5b5b5;
  color: rgb(255, 255, 255);
}

/* Style the active link (or home/logo) */
.active {
  background-color: #ffffff;
  color: rgb(253, 253, 253);
}
}

}
